* @deeporiginbio/catalog-developers
src/data_hub/ @deeporiginbio/data-management-developers
src/variables/ @deeporiginbio/platform-developers
mkdocs.yaml @deeporiginbio/documentation-writers @deeporiginbio/designers
docs/ @deeporiginbio/documentation-writers
docs/images/ @deeporiginbio/documentation-writers @deeporiginbio/designers
docs/stylesheets/ @deeporiginbio/documentation-writers @deeporiginbio/designers
