* @deeporiginbio/client-developers 
mkdocs.yaml @deeporiginbio/platform-documentation-writers @deeporiginbio/designers
docs/images/ @deeporiginbio/platform-documentation-writers @deeporiginbio/designers
docs/stylesheets/ @deeporiginbio/platform-documentation-writers @deeporiginbio/designers
