include README.md
include src/VERSION
include src/config/default.yml
include src/data_hub/*.js
include src/json/*.json
include src/data/brd/*.sdf
include src/data/brd/*.pdb
include src/templates/*.html