env: prod
organization_id: null
bench_id: null
api_endpoint: https://os.deeporigin.io
nucleus_api_route: data-hub/api/
auth_domain: https://formicbio.us.auth0.com 
auth_device_code_endpoint: oauth/device/code/
auth_token_endpoint: oauth/token/
auth_audience: https://os.deeporigin.io/api
auth_grant_type: urn:ietf:params:oauth:grant-type:device_code
auth_client_id: m3iyUcrANcIap2ogzWKpnYxCNujOrW3s
auth_client_secret: cQcZclTqMHMuovyXV-DD15tEiL-KH_2XD36vsppULRBuq7AjwyI4dh5ag11O_K1S
variables_cache_filename: ~/.deeporigin/variables.yml
auto_install_variables_filename: ~/.deeporigin/auto-install-variables.sh
feature_flags: null
