:root {
  --md-primary-fg-color: #6D2EB1;
}

.md-header, .md-tabs {
  --md-primary-fg-color: #6D2EB1;
  --md-primary-bg-color: #F8F5FB;
}

.md-header__title .md-header__ellipsis .md-header__topic:after {
  content: "Deep Origin Python client";
  color: #6D2EB1;
}

.md-header, .md-tabs {
    color: #6D2EB1; 
}

.md-header__title .md-header__ellipsis .md-header__topic .md-ellipsis {
  display: none;
}

.md-search__input {
  background-color: #e2d1f3;
  color: var(--md-default-fg-color);
}

.md-search__input::placeholder {
  color: #6D2EB1;
}


/* we're using an image for the combined header, which is split
across two*/
.md-header {
    background: url('../images/header_a.png')  left top;
    background-size: 100% 100%;
}

.md-tabs{
    background: url('../images/header_b.png')  left top;
    background-size: 100% 100%;
}

